.navbar {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1rem 2rem;
    height: 300px;

    background-image: url('/Fondo_navbar.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;

    .navbar__logo img {
        width: 60px;
        height: auto;
        margin-top: 0.5rem;
        border-radius: 10px;
    }

    &__links {
        list-style: none;
        display: flex;
        gap: 1.5rem;
        margin-top: 0.5rem;

    li a {
        color: white;
        text-decoration: none;
        font-weight: 500;

        &.active,
        &:hover {
            color: #ffcc00;
        }
    }
    }
}
