<nav class="navbar">
    <div class="navbar__logo">
        <img src="/src/app/assets/images/Logo_page-coffe.png" alt="Logo café funcional"/>
    </div>
    <ul class="navbar__links">
        <li><a routerLink="/" routerLinkActive="active">Inicio</a></li>
        <li><a routerLink="/about" routerLinkActive="active">Nosotros</a></li>
        <li><a routerLink="/products" routerLinkActive="active">Productos</a></li>
        <li><a routerLink="/contact" routerLinkActive="active">Contacto</a></li>
    </ul>
</nav>
