<section class="form" id="contact">
    <h2 class="form__title">Contacto</h2>
    <form class="form__form">
      <div class="form__input-container">
        <label for="name">Nombres</label>
        <input type="text" id="name" name="name" placeholder="John" required />
      </div>
  
      <div class="form__input-container">
        <label for="lastname">Apellidos</label>
        <input type="text" id="lastname" name="lastname" placeholder="Doe" required />
      </div>
  
      <div class="form__input-container">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" placeholder="mail@example.com" required />
      </div>
  
      <div class="form__input-container">
        <label for="message">Comentarios</label>
        <textarea id="message" name="message" placeholder="Tu mensaje..." required></textarea>
      </div>
  
      <div class="form__input-container form__submit-container">
        <input type="submit" value="Enviar" />
      </div>
    </form>
  </section>
  