<section class="about">
    <h2 class="about__title">Historia</h2>

    <div class="about__intro">
        <div class="about__intro-image">
            <img src="" alt="Imagen historia café" />
        </div>
        <div class="about__intro-text">
            <h2 class="about__subtitle">Cofee</h2>
            <p>
                Nuestra historia comienza en las montañas colombianas, donde nace uno de los cafés más apreciados del mundo.
                Inspirados por su sabor y energía natural, decidimos ir más allá: crear una bebida que no solo despierte el cuerpo,
                sino también la mente.
            </p>
        </div>
    </div>

    <div class="about__mission-vision">
        <h2 class="about__subtitle">Misión y Visión</h2>
        <div class="about__mv-content">
        <div class="about__mv-item">
            <img src="" alt="Misión" />
            <h3>Misión</h3>
        </div>
        <div class="about__mv-item">
            <img src="" alt="Visión" />
            <h3>Visión</h3>
        </div>
    </div>
    </div>

    <div class="about__team">
        <div class="about__team-member">
            <img src="" alt="Mabel" />
            <h3>Mabel</h3>
            <p>
                Apasionada por la nutrición y el bienestar mental, Sofía fusionó su amor por el café colombiano con el poder de los hongos adaptógenos. 
                Cree firmemente en crear productos que alimenten el cuerpo y eleven la mente.
            </p>
        </div>
        <div class="about__team-member">
            <img src="" alt="Sergio" />
            <h3>Sergio</h3>
            <p>
                Con experiencia en agroindustria y procesos de tostión, Sergio se encarga de garantizar que cada grano conserve su esencia natural. 
                Su objetivo es ofrecer un café que combine sabor excepcional y funcionalidad real.
            </p>
    </div>
    <div class="about__team-member">
        <img src="" alt="Nicolas" />
        <h3>Nicolas</h3>
        <p>
            Nicolas es quien transforma la visión en una experiencia visual y sensorial. 
            Desde el empaque hasta la plataforma digital, cuida cada detalle para que el producto se sienta tan bien como sabe.
        </p>
    </div>
    </div>
</section> 